@import "tailwindcss";

html {

  --color-bg-dark: #0a0a0a;
  --color-text-dark: #fff;
  --color-bg-light: #fff;
  --color-text-light: #333;
  --color-primary-dark: #a855f7;
  --color-primary-light: #6366f1;
  --color-secondary-dark: #6b7280;
  --color-secondary-light: #6b7280; 
}

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto Condensed", sans-serif;
  transition: background-color 0.3s ease, color 0.3s ease;
}


.dark body {
  background-color: var(--color-bg-dark);
  color: var(--color-text-dark);
}


.light body {
  background-color: var(--color-bg-light);
  color: var(--color-text-light);
}

@layer utilities {
  @keyframes loading {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(250%);
    }
  }

  .animate-loading-bar {
    animation: loading 2s ease infinite;
  }
}
